* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
}


.body-content h1 {
  line-height: 40px;
}

.Get-started {
  font-family: Verdana;
  font-weight: bold;
  float: right;
  width: 320px;
  height: 320px;
  display: flex;
  margin-right: 280px;
}

.Get-started a {
  display: inline-block;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
  background: #111;
  /* padding: 10px 30px; */
  width: 280px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 40px 0px 0px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.8s;
}

.Get-started a:hover {
  color: aqua;
  text-shadow: 0 0 5px aqua;
  box-shadow: 0 0 3px aqua, 0 0 6px aqua, 0 0 12px aqua, 0 0 24px aqua,
    0 0 48px aqua;
  letter-spacing: 3px;
}
